.post-card {
    position: relative;
    padding: 10px;
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
    min-height: 300px;
    height: calc(100% - 15px);
}

.post-img {
    height: 250px;
    overflow: hidden;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-card-details {
    margin-top: 10px;
}

.post-card-details .title {
    font-size: 18px;
    font-weight: bold;
}

.post-card-details .title:hover {
    text-decoration: underline;
}

.post-card-details .price span {
    font-size: 18px;
    font-weight: normal;
}

.post-card-details .like-post {
    position: absolute;
    bottom: 10px;
    right: 10px;
}