.post-wrapper {
  h2 {
    font-size: 30px;
    // text-align: center;
    margin: 2rem 0 32px;
    position: relative;
  }

  .title {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
  }
}

// .left-side-pics {
//   float: left;
// }

// .right-side-text {
//   float: right;
// }
