.post-details-container {
    margin-top: 2rem;
}


.post-details-full-info {
    margin-top: 2rem;
}

.post-details-info {
    padding: 20px;
    border: 1px solid #dfdfdf;
	border-radius: 5px;
}

.flex-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.post-details-info .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-details-info .user-info .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-details-info .details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.details .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-details-info h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-page-header {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btns-page {
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.btns-page button {
    margin-left: 10px;
}

.btns-page a {
    color: white !important;
}