.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #ffb3b3;
  box-shadow: 0 2px 10px rgba(128, 88, 88, 0.8);

  a {
    color: white;

    &:hover {
      color: lighten(#ffb3b3, 10%);
    }
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  font-size: 2rem;
  margin-bottom: 0;
}

.header-brand a {
  font-weight: bold;
}

.nav-list {
  display: flex;
  gap: 15px;
}
