.header {
  height: 60px;
  background-color: #ffb3b3;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  font-size: 2rem;
}

.header-brand a {
  font-weight: bold;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-item:last-child {
  margin-right: 0;
}
